body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

text-area{
  background: rgb(173, 172, 172);
  text-align: center;
  /* border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black; */
  padding: 10px;
  margin: 10px;
  width: 10%;
  border-radius: 15px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: teal;
  border-radius: 0;
  border-bottom: 10px solid teal;
}

/* .description{
  white-space: pre-wrap;
} */

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
  text-align: center;


  }
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: whitesmoke
}

.present {
  background-color: #d3d3d3;
  color: whitesmoke
}

.future {
  background-color: #d3d3d3;
  color: whitesmoke
}

.saveBtn {
  border: 1px solid black;
  border-radius: 15px;
  margin-left: 10px;
  padding-left: 10px;
  background-color: #06AED5;
  color: white;
  width: 10%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

input {
 width: 75%;
}